<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/panel_work.css">
    <link rel="stylesheet" href="/css/side_bar.css">
 
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    <div class="nav">
        <%- include('../partials/nav.ejs') %>

    </div>
    
    <div class="root">
        <div class="sidebar_left">
            <%- include('../partials/sidebar_left.ejs') %>
        </div>
        <div class="panel_work">
            <%- include('../partials/panel_work.ejs') %>
            
        </div>
        <div class="sidebar_right">
            <%- include('../partials/sidebar_right.ejs') %>
        </div>
        
    </div>
    <script src="/js/panel.js"></script>
    <script src="/js/operaciones.js"></script>
</body>
</html>